<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.fridahkanario.med_manager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/medlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/medlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            </activity>
        <activity android:name=".AddMedication" />
        <activity android:name=".MedicineActivity" />
        <activity android:name=".SignInActivity"></activity>
    </application>

</manifest>